/* Open Sans Webfont Kit
 * -------------------------- */
/* Light 300
 * -------------------------- */
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/light/open-sans-light-webfont.eot');
  src: url('../fonts/light/open-sans-light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/light/open-sans-light-webfont.woff') format('woff'), url('../fonts/light/open-sans-light-webfont.ttf') format('truetype'), url('../fonts/light/open-sans-light-webfont.svg\#OpenSansLight') format('svg');
  font-weight: 300;
  font-style: normal; }

/* Light 300 Italic
 * -------------------------- */
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/light-italic/open-sans-light-italic-webfont.eot');
  src: url('../fonts/light-italic/open-sans-light-italic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/light-italic/open-sans-light-italic-webfont.woff') format('woff'), url('../fonts/light-italic/open-sans-light-italic-webfont.ttf') format('truetype'), url('../fonts/light-italic/open-sans-light-italic-webfont.svg\#OpenSansLightItalic') format('svg');
  font-weight: 300;
  font-style: italic; }

/* Regular 400
 * -------------------------- */
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/regular/open-sans-regular-webfont.eot');
  src: url('../fonts/regular/open-sans-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/regular/open-sans-regular-webfont.woff') format('woff'), url('../fonts/regular/open-sans-regular-webfont.ttf') format('truetype'), url('../fonts/regular/open-sans-regular-webfont.svg\#OpenSansRegular') format('svg');
  font-weight: normal;
  font-style: normal; }

/* Regular 400 Italic
 * -------------------------- */
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/italic/open-sans-italic-webfont.eot');
  src: url('../fonts/italic/open-sans-italic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/italic/open-sans-italic-webfont.woff') format('woff'), url('../fonts/italic/open-sans-italic-webfont.ttf') format('truetype'), url('../fonts/italic/open-sans-italic-webfont.svg\#OpenSansItalic') format('svg');
  font-weight: normal;
  font-style: italic; }

/* Semibold 600
 * -------------------------- */
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/semibold/open-sans-semibold-webfont.eot');
  src: url('../fonts/semibold/open-sans-semibold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/semibold/open-sans-semibold-webfont.woff') format('woff'), url('../fonts/semibold/open-sans-semibold-webfont.ttf') format('truetype'), url('../fonts/semibold/open-sans-semibold-webfont.svg\#OpenSansSemibold') format('svg');
  font-weight: 600;
  font-style: normal; }

/* Semi-Bold 600 Italic
 * -------------------------- */
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/semibold-italic/open-sans-semibold-italic-webfont.eot');
  src: url('../fonts/semibold-italic/open-sans-semibold-italic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/semibold-italic/open-sans-semibold-italic-webfont.woff') format('woff'), url('../fonts/semibold-italic/open-sans-semibold-italic-webfont.ttf') format('truetype'), url('../fonts/semibold-italic/open-sans-semibold-italic-webfont.svg\#OpenSansSemiboldItalic') format('svg');
  font-weight: 600;
  font-style: italic; }

/* Bold 700
 * -------------------------- */
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/bold/open-sans-bold-webfont.eot');
  src: url('../fonts/bold/open-sans-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/bold/open-sans-bold-webfont.woff') format('woff'), url('../fonts/bold/open-sans-bold-webfont.ttf') format('truetype'), url('../fonts/bold/open-sans-bold-webfont.svg\#OpenSansBold') format('svg');
  font-weight: bold;
  font-style: normal; }

/* Bold 700 Italic
 * -------------------------- */
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/bold-italic/open-sans-bold-italic-webfont.eot');
  src: url('../fonts/bold-italic/open-sans-bold-italic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/bold-italic/open-sans-bold-italic-webfont.woff') format('woff'), url('../fonts/bold-italic/open-sans-bold-italic-webfont.ttf') format('truetype'), url('../fonts/bold-italic/open-sans-bold-italic-webfont.svg\#OpenSansItalic') format('svg');
  font-weight: bold;
  font-style: italic; }

/* Extrabold 800
 * -------------------------- */
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/extrabold/open-sans-extrabold-webfont.eot');
  src: url('../fonts/extrabold/open-sans-extrabold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/extrabold/open-sans-extrabold-webfont.woff') format('woff'), url('../fonts/extrabold/open-sans-extrabold-webfont.ttf') format('truetype'), url('../fonts/extrabold/open-sans-extrabold-webfont.svg\#OpenSansExtrabold') format('svg');
  font-weight: 800;
  font-style: normal; }

/* Extra-Bold 800 Italic
 * -------------------------- */
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/extrabold-italic/open-sans-extrabold-italic-webfont.eot');
  src: url('../fonts/extrabold-italic/open-sans-extrabold-italic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/extrabold-italic/open-sans-extrabold-italic-webfont.woff') format('woff'), url('../fonts/extrabold-italic/open-sans-extrabold-italic-webfont.ttf') format('truetype'), url('../fonts/extrabold-italic/open-sans-extrabold-italic-webfont.svg\#OpenSansExtraboldItalic') format('svg');
  font-weight: 800;
  font-style: italic; }
