/* Bold 700
 * -------------------------- */

@font-face {
  font-family: 'Open Sans';
  src: url('#{$open-sans-path}/Bold/OpenSans-Bold.eot');
  src: url('#{$open-sans-path}/Bold/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
       url('#{$open-sans-path}/Bold/OpenSans-Bold.woff') format('woff'),
       url('#{$open-sans-path}/Bold/OpenSans-Bold.ttf') format('truetype'),
       url('#{$open-sans-path}/Bold/OpenSans-Bold.svg#OpenSansBold') format('svg');
  font-weight: bold;
  font-style: normal;
}
