/* Extra-Bold 800
 * -------------------------- */

@font-face {
  font-family: 'Open Sans';
  src: url('#{$open-sans-path}/ExtraBold/OpenSans-ExtraBold.eot');
  src: url('#{$open-sans-path}/ExtraBold/OpenSans-ExtraBold.eot?#iefix') format('embedded-opentype'),
       url('#{$open-sans-path}/ExtraBold/OpenSans-ExtraBold.woff') format('woff'),
       url('#{$open-sans-path}/ExtraBold/OpenSans-ExtraBold.ttf') format('truetype'),
       url('#{$open-sans-path}/ExtraBold/OpenSans-ExtraBold.svg#OpenSansExtrabold') format('svg');
  font-weight: 800;
  font-style: normal;
}
